body {
    /* background: #e6e6e6; */
    background: white;
    /* background: gray; */
    /* background-image: radial-gradient( white, black); */

}
.cid-rFjEQOGe8D .dropdown .dropdown-menu  {
    background: red;
    overflow-y:scroll;
}

.container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.container span {
    color: gray;
    /* color: red; */
    text-transform: uppercase;
    display: block;
}
.item{
    width: 350px;
    height: 295px;
    max-width: 350px;
    min-height: 295px;
}

.custom-btn.btn-secondary{
    background-color: gray !important;
    border-color: gray !important;
    color: white !important;
}
.custom-btn.btn-secondary:hover, .btn-secondary:focus, .btn-secondary.focus, .btn-secondary.active {
    background-color: white !important;
    border-color: gray !important;
    color: gray !important;
}

.item img{
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
}
.owl-carousel .owl-item img {
    border: 7px solid red;
}
/* NAVIGATOIN */
.cid-rFjEQOGe8D .navbar {
    background: red;
}

/* LOGIN MODAL  */
.form-control {
    font-family: 'Rubik', sans-serif;
    font-size: 0rem;
    /* font-display: swap; */
}
button#login_submit {
    background: red;
    margin-left: 30%;
    padding: 10px 20px;
}
.modal {
    z-index: 19999;
}
.modal-dialog, .modal-content {
    height: 90%;
}

/* FOOTER  */
.cid-qTkAaeaxX5 {
    background-color: red;
}

.text1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 1000;
    /* font-weight: bold; */
    letter-spacing: 5px;
}

.box {
    position: relative;
    width: 158px;
    height: 128px;
    margin: 11px;
    /* background-color: gainsboro; */
    max-width: 95%;
}


/* .box:hover{
position:relative;
width:200px;
height: 150px;
margin: 20px;

} */

.bigbox {
    position: relative;
    width: 350px;
    height: 150px;
    margin: 10px;
}


/* .bigbox:hover{
position:relative;
width:330px;
height: 150px;
margin: 20px;

} */

.smaller-product {
    padding-right: 10px;
    margin-top: 5px;
}


/* footer style  */

.mbr-text {
    color: white;
}


/* slider */

.slider_wrapper {
    /* background: white; */
    background-image: radial-gradient( white, black);
    margin-top: -9px;
    padding-top: 30px;
    padding-bottom: 30px;
    /* margin-bottom: 36px; */
}
.category_image_wrapper{
     /* background: white; */
     background-image: radial-gradient( white, black);
     margin-top: -9px;
     /* padding-top: 30px; */
     padding-bottom: 30px;
     /* margin-bottom: 36px; */
     height: 300px;
}

.slider_bullet_img {
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
}

.offer-name {
    background: white;
    /* border-bottom: 1px solid darkgray; */
    padding: 5px;
    padding-left: 19px;
    font-weight: 400;
}

.offer-description {
    color: white;
    font-size: 14px;
    overflow: hidden;
    max-height: 85px;
}

.wrapper{
    border: 3px solid red;
    /* border: 3px solid white; */
    margin: 2px;
}


/* QUICK NAVIGATION  */
.quick-navigation {
    margin: 15px 0px;
}

span.navigation-text {
    text-transform: capitalize;
    color: gray;
    padding-left: 10px;
}

span.navigation-text a {
    color: red;
}

span.navigation-text a:hover {
    color: rgb(140, 140, 161);
}

.category-name {
    margin: 20px;
}
.category-name span.text1 {
    font-size: 40px;
}
.category_image_container {
    height: 300px;
    max-height: 300px;
}

.category_image_container img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

/* FOR SEARCH BAR  */
.extra-search-padding {
    margin-right: 18px;
    position: fixed;
    right: 82px;
    top: 40px;
    z-index: 19115;
}

div#navbarSupportedContent {
    margin-right: 185px;
}
.cid-rFjEQOGe8D .navbar {
    min-height: 70px;
    height: 70px;
}

.select2-dropdown {
    top: 0px !important;
}

.select2-container--open .select2-dropdown {
    margin-left: 0px !important;
    width: 160px !important;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #613737;
    font-size: 17px;
    padding: 0px;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #0a0a0a;
    border-radius: 17px;
    height: 30px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 29px;
    padding-left: 20px;
}
.select2-container--default .select2-results>.select2-results__options {
    height: 200px;
    overflow: auto;
    overflow-y: auto;
    width: 153px;
}

/* SEARCH RESULT  */
.cu_desc.wrapper {
    margin: 2px;
    border: 1px solid grey;
    width:100%;
    min-height: 310px;
    margin-left: -3px;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
    .cid-rFjEQOGe8D .dropdown .dropdown-menu  {
        height: 330px;
    }
    
}

@media only screen and (max-width: 768px) {
    .smaller-product {
        padding-right: 0px;
        margin-top: 20px;
    }
    .portfolio-item .figure {
        position: relative;
        width: 92%;
        height: 150px;
        padding: 15px;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
    }
    .animated {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0px;
        border: 0px solid white;
    }
    .box {
        position: relative;
        width: 100%;
        height: 120px;
        margin: 13px;
        background-color: gainsboro;
        max-width: 95%;
    }
    .bigbox {
        position: relative;
        width: 96%;
        height: 126px;
        margin: 11px;
    }
    .wrapper {
        position: relative;
        width: 100%;
        height: 150px;
    }

    .slider_wrapper {
        margin-top: -15px;
    }

    .text1 {
        font-size: 20px;
    }
}

@media (max-width: 410px) {
    .figure {
        position: relative;
        width: 90%;
        height: 150px;
    }
    .box {
        position: relative;
        width: 100%;
        height: 150px;
        margin: 7px;
        background-color: gainsboro;
        max-width: 95%;
    }
    .bigbox {
        position: relative;
        width: 99%;
        height: -webkit-fill-available;
        margin: 2px;
    }
    .wrapper {
        margin-top: 10px;
        position: relative;
        width: 100%;
        height: 172px;
    }
    .smaller-product .wrapper {
        margin-bottom: 10px;
    }
    .bigger-product .wrapper {
        margin-bottom: 10px;
        padding: 5px;
        height: 185px;
    }
    .row {
        display: contents;
    }
    .mbr-section-btn.align-center.py-4 {
        margin-top: 30px;
    }
    /* #wowslider-container1 .ws_images > div > img {
    height: 180px;
    max-height: 180px;
} */
    .slider_image {
        height: 150px;
        max-height: 150px;
    }
    .sm_box_container {
        padding: 0px;
    }
    .item {
        width: 185px;
        height: 180px;
        max-width: 185px;
        min-width: 185px;
        min-height: 180px;
        max-height: 180px;
    }
    .item img{
        height: 100%;
        width: 100%;
        max-width: 100%;
        min-height: 100%;
    }
    .smaller-product .col-md-6 {
        padding: 0px;
    }

    .slider_wrapper {
        margin-top: -15px;
    }

    .category_image_wrapper {
        height: 180px;
    }
    .category_image_container {
        height: 180px;
        max-height: 180px;
    }

    /* FOR SEARCH BAR  */

    .extra-search-padding {
        margin-right: 18px;
        position: fixed;
        right: -11px;
        top: 60px;
        z-index: 19115;
    }

    div#navbarSupportedContent {
        margin-right: 0px;
    }
    .cid-rFjEQOGe8D .navbar {
        min-height: 70px;
        height: auto;
    }

    div#navbarSupportedContent {
        width: 100%;
        padding-top: 14px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 25px;
        padding-left: 17px;
    }

    .select2-container--default .select2-selection--single {
        height: 27px;
    }

    .category-name span.text1 {
        font-size: 20px;
    }

    .cu_desc.wrapper {
        margin-left: 2px;
        margin-top: -11px;
        min-height: 310px;
        height: auto;
    }
    .offer-name {
        padding-left: 10px;
    }
}


/* @media only screen{
and (min-device-width : 320px)
and (max-device-width : 480px) {




}} */